In [1]:
import pandas as pd

In [11]:
df = pd.DataFrame({'big_data': [100, 105, 110, 120],
                    'useful': [20, 30, 40, 50]})

In [12]:
df

   big_data  useful
0       100      20
1       105      30
2       110      40
3       120      50